* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
}

.container {
    display: flex;
    width: 600px;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.input,
.output {
    min-height: 25px; 
    height: fit-content;
    text-wrap: wrap;
    word-wrap: normal;
    min-width: 600px;
}

.input {
    color: rgba(0, 0, 0, 0);
    
    z-index: 2;

    &:focus {
        outline-width: 0px;
    }

}

.output {
    position: absolute;
    border: 1px solid gray;
    top: 0;
    left: 0;
    z-index: 1;
}

